.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;

  .nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    .nav_logo {
      width: 80px;
      object-fit: contain;
    }

    .nav_avatar {
      width: 30px;
      height: 20px;
    }
  }
}

.nav_black {
  background: #000;
  transition: 0.3s ease-in;
}

.nav_shadow {
  background: linear-gradient(180deg, rgb(21, 21, 21), transparent);
}
