.footer {
  background-color: #000;
  color: grey;
  padding: 1rem 10rem;

  .content {
    margin: 2rem 0;
  }
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.2rem;

    .list:hover {
      cursor: pointer;
      color: #e50914;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 1rem 2rem;
  }
  ul {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)) !important;
  }
}
